[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "motmot"]
	path = motmot
	url = https://github.com/puttickmacroevolution/motmot
